html {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Arvo', serif;
    color: #FFBF00;
    padding: 3px;
    background-color: #161212;
    text-align: center;
}

h1 {
    font-family: 'Lobster Two', cursive;
    font-size: 50px;
    
}

h3 {
    font-family: 'Lobster Two', cursive;
    font-size: 35px;
}

label, input, select {
    margin: 8px;
}

input, select {
    background-color: #CFCDC9;
}

#button {
    margin-top: 15px;
    background-color: #FFBF00;
    color: black;
    padding: 6px;
}

.hidden {
    display: none;
}

li {
    list-style: none;
}

ul {
    padding-left: 0px;
    margin-left: 0px;
}

img {
    width: 60%;
}

@media all and (min-width: 801px) {

p {
    margin: 0px 300px 0px 300px;
}

img {
    width: 30%;
}

};